:root {
    --primary-color: white;
    --primary-bg-color: #121212;
}

body {
    color: var(--primary-color);
    background-color: var(--primary-bg-color);
}

a {
    color: #1E90FF
}

a:hover {
    color: #87CEFA;
}

.btn {
    background-color: rgb(159, 159, 159);
}

.btn:hover {
    background-color: rgb(108, 108, 108);
}