<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/tabber.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/add_equipment.js') }}" defer></script>
    <title>Edit Loadout</title>
</head>
<body>  
    <h1>Editing Loadout: {{ loadout["Loadout_Name"] }}</h1>

    <div class="edit-loadout-body">
        {% include 'selected_equipment.html' %}

        {% include 'equipment_selection.html' %}
    </div>
</body>
</html>