<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/tabber.js') }}" defer></script>
    <title>Edit Loadout</title>
</head>
<body>  
    <h1>Editing Loadout: {{ loadout["Loadout_Name"] }}</h1>

    <div class="edit-loadout-body">
        <div class="selected-equipment">
            <h3>Weapons</h3>
            <div id="weapons" class="equipment-container">
                {% for slot, weapon_name in loadout["Loadout"]["Weapons"].items() %}
                <div class="equipment-item">
                    <p>{{ slot }}: {{ weapon_name }}</p>
                    <div class="equipment-slot weapon-slot"></div>
                </div>
                {% endfor %}
            </div>

            <h3>Stratagems</h3>
            <div id="stratagems" class="equipment-container">
                {% for i, stratagem_name in loadout["Loadout"]["Stratagems"].items() %}
                <div class="equipment-item">
                    <p>{{ i }}: {{ stratagem_name }}</p>
                    <div class="equipment-slot stratagem-slot"></div>
                </div>
                {% endfor %}
            </div>

            <h3>Boosts</h3>
            <div id="boosts" class="equipment-container">
                {% for i, boost_name in loadout["Loadout"]["Boosts"].items() %}
                <div class="equipment-item">
                    <p>{{ i }}: {{ boost_name }}</p>
                    <div class="equipment-slot boost-slot"></div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="equipment-options">
            <h3>Weapons</h3>

            <div class="tab-container">
                <div class="tab-buttons">
                    {% for slot in weapon_class.valid_slots %}
                    <button class="btn tab-button tabber1" onclick="tabber_tab_clicked(event, '{{ slot }}', 'tabber1')">
                        {{ slot }}
                    </button>
                    {% endfor %}
                </div>
                
                {% for slot in weapon_class.valid_slots %}
                <div class="tab-content tabber1" id="{{ slot }}">
                    <div class="tab-buttons">
                        {% for category in weapon_class.valid_categories[slot] %}
                        <button class="btn tab-button tabber2" onclick="tabber_tab_clicked(event, '{{ category }}', 'tabber2')">
                            {{ category }}
                        </button>
                        {% endfor %}
                    </div>

                    {% for category in weapon_class.valid_categories[slot] %}
                        <div class="tab-content tabber2" id="{{ category }}">
                            {{ category }}
                        </div>
                    {% endfor %}

                    
                </div>
                {% endfor %}
            </div>
            

            <div id="weapons-list" class="equipment-container">
                {% for id, weapon in equipment.Weapons.items() %}
                <div class="equipment-slot">
                    <img src="{{ url_for('static', filename=weapon.get_static_asset_path()) }}" width="135" height="100">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>