<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Edit Loadout</title>
</head>
<body>  
    <h1>Editing Loadout: {{ loadout["Loadout_Name"] }}</h1>

    <div class="edit-loadout-body">
        <div class="selected-equipment">
            <h3>Weapons</h3>
            <div id="weapons" class="equipment-container">
                {% for slot, weapon_name in loadout["Loadout"]["Weapons"].items() %}
                <div class="equipment-item">
                    <p>{{ slot }}: {{ weapon_name }}</p>
                    <div class="equipment-slot weapon-slot"></div>
                </div>
                {% endfor %}
            </div>

            <img src="{{ url_for('static', filename='assets/weapons/primary/assault-rifle/ar23-liberator.png') }}" width="135" height="100">

            <h3>Stratagems</h3>
            <div id="stratagems" class="equipment-container">
                {% for i, stratagem_name in loadout["Loadout"]["Stratagems"].items() %}
                <div class="equipment-item">
                    <p>{{ i }}: {{ stratagem_name }}</p>
                    <div class="equipment-slot stratagem-slot"></div>
                </div>
                {% endfor %}
            </div>

            <h3>Boosts</h3>
            <div id="boosts" class="equipment-container">
                {% for i, boost_name in loadout["Loadout"]["Boosts"].items() %}
                <div class="equipment-item">
                    <p>{{ i }}: {{ boost_name }}</p>
                    <div class="equipment-slot boost-slot"></div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="equipment-options">
            <h3>Weapons</h3>
            <div id="weapons-list" class="equipment-list equipment-container">
                {% for id, weapon in equipment.Weapons.items() %}
                <div class="equipment-slot">
                    <img src="{{ url_for('static', filename=weapon.get_static_asset_path()) }}" width="135" height="100">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>