<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loadout App</title>
</head>
<body>
    <h1>Loadout App</h1>
    <nav>
        <script src="{{ url_for('static', filename='js/create_loadout.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/rename_loadout.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/prompt.js') }}" defer></script>
        <section id="prompt_section">
            
        </section>

        
        <button onclick="create_loadout()">Create Loadout</button>
        <div id="loading_message" style="display: none;">Creating loadout...</div>
    </nav>
    
    <h2>Current Loadouts:</h2>
    <section id="loadouts-list"></section>
</body>
</html>