<div class="selected-equipment">
    <h3>Weapons</h3>
    <div id="weapons" class="equipment-container">
        {% for slot, weapon_id in loadout["Loadout"]["Weapons"].items() %}
        <div class="equipment-item">
            <p>{{ slot }}</p>
            <div id="{{ slot }}" class="equipment-slot weapon-slot" data-tooltip="{{ equipment["Weapons"]["class"].objs[weapon_id].name }}" data-type="weapon">
                <img id="{{ slot }}" src="{{ url_for('static', filename=equipment["Weapons"]["class"].objs[weapon_id].get_static_asset_path()) }}" width="135" height="100">
            </div>
        </div>
        {% endfor %}
    </div>

    <h3>Stratagems</h3>
    <div id="stratagems" class="equipment-container">
        {% for i, stratagem_id in loadout["Loadout"]["Stratagems"].items() %}
        <div class="equipment-item">
            <div id="{{ i }}" class="equipment-slot stratagem-slot" data-tooltip="{{ equipment["Stratagems"]["class"].objs[stratagem_id].name }}" data-type="stratagem">
                <img id="{{ i }}" src="{{ url_for('static', filename=equipment["Stratagems"]["class"].objs[stratagem_id].get_static_asset_path()) }}" width="100" height="100">
            </div>
        </div>
        {% endfor %}
    </div>

    <h3>Boosts</h3>
    <div id="boosts" class="equipment-container">
        {% for i, boost_id in loadout["Loadout"]["Boosts"].items() %}
        <div class="equipment-item">
            <div id="{{ i }}" class="equipment-slot boost-slot" data-tooltip="{{ equipment["Boosts"]["class"].objs[boost_id].name }}" data-type="boost">
                <img id="{{ i }}" src="{{ url_for('static', filename=equipment["Boosts"]["class"].objs[boost_id].get_static_asset_path()) }}" width="100" height="100">
            </div>
        </div>
        {% endfor %}
    </div>
</div>